<app-header></app-header>  

<div class="login-box">
    <h1>Registrar</h1>
    <br>
    <form>
      <div class="user-box">
        <input type="text" [(ngModel)]="email" name="email" required="">
        <label>email</label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="pass" name="pass" required="">
        <label>Password</label>
      </div>
      <button (click)="guardar()" style="border-radius: 10px; border-color: aliceblue;" >Guardar</button>
    </form>
  </div>