<header class="header" id="inicio">
    <img src="/assets/images/marilynmenu.ico" alt="" class="hamburger">
    <nav class="menu-navegacion" >
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#inicio" style="text-decoration: none;">Inicio</a>  
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#uno" style="text-decoration: none;">Laboratorio 1</a> 
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#dos" style="text-decoration: none;">Laboratorio 2</a>
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#tres" style="text-decoration: none;">Laboratorio 3</a>
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#cuatro" style="text-decoration: none;">Laboratorio 4</a>  
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#cinco" style="text-decoration: none;">Laboratorio 5</a> 
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#seis" style="text-decoration: none;">Laboratorio 6</a> 
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#siete" style="text-decoration: none;">Laboratorio 7</a> 
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#herramientas" style="text-decoration: none;">Herramientas</a>
        </div>
        <div class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#contacto" style="text-decoration: none;">Contacto</a>  
        </div>
    </nav>
    <div class="contenedor head" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500" >
        <h1 class="titulo">EXAMEN DE PRIMER PARCIAL</h1>
        <p>El objetivo principal del curso es guiarlo desde un estado de completo analfabetismo de programación hasta un nivel de conocimiento de programación que le permita diseñar, escribir, depurar y ejecutar programas codificados en el lenguaje JavaScript, y comprender los conceptos básicos de la tecnología de desarrollo de software.</p>
    </div>
</header>
<main>
    <section class="laboratorios contenedor" id="laboratorio" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <h2 class="subtitulo">Laboratorios Javascript</h2>
        <div class="contenedor-laboratorio">
            <img src="/assets/images/marilynfabian3.png" alt="">
            <div class="checklist-laboratorio">
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">1</span>Laboratorio</h3>
                    <p>Familiarize the student with: variables (i.e. naming, declaring, initializing and modifying their values)</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">2</span>Laboratorio</h3>
                    <p>Familiarize the student with: the basic properties of complex data types such as Array and Object (treated as a record) and be able to use them in practice.</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">3</span>Laboratorio</h3>
                    <p>Interacting with the user (dialog boxes – alert, confirm, prompt).</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">4</span>Laboratorio</h3>
                    <p>Conditional execution (what is conditional execution, the if–else statement, the conditional operator, the switch–case statement)</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">5</span>Laboratorio</h3>
                    <p>loops (what are loops, the while loop, the do–while loop, the for loop, the for–of loop, the for–in loop, the break and continue statements)</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">6</span>Laboratorio</h3>
                    <p>Familiarize the student with: function basics, functions as first-class members, arrow functions, recursion.</p>
                </div>
                <div class="laboratorio">
                    <h3 class="n-laboratorio"><span class="number">7</span>Laboratorio</h3>
                    <p>Familiarize the student with: function basics, functions as first-class members, arrow functions, recursion.</p>
                </div>
            </div>

        </div>
        <div class="container" id="laboratorio">
            <div class="card" id="uno" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 1</h1>
                <a href="../js/MailynFabian/Laboratorio1.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Volvamos a nuestra lista de contactos. Después de algunos ajustes recientes (es decir, usar una matriz y objetos) 
                    en realidad está comenzando a verse como una lista. Sin embargo, sigue existiendo un problema bastante grave. 
                    Los datos cambiantes en la lista, como agregar un nuevo contacto, deben proporcionarse de inmediato en el código del programa. 
                    ¿Y si queremos dar al usuario la posibilidad de introducir los datos del contacto añadido mientras se ejecuta el programa? 
                    Modifique el programa para agregar, al final de la lista, no el contacto, que se da en el código, sino el que el usuario dará durante la ejecución del programa. 
                    Utilice el método prompt para hacer esto. Al final, muestra el primer y el último contacto de la lista.</p>
                <br>
                    <div class="cuadrado">
<textarea cols="100" rows="30">
var nom1 = "Maxwell Wright";
var nom2 = "Raja Villarreal";
var nom3 = "Helen Richards";
let num1 = " (0191) 719 6495";
let num2 = " 0866 398 2895";
let num3 = " 0800 1111";
const corr1 = " Curabitur.egestas.nunc@nonummyac.co.uk";
const corr2 = " posuere.vulputate@sed.com";
const corr3 = "	libero@convallis.edu";

function imprimir()
{
    console.log(nom1 + num1 + corr1)
    console.log(nom2 + num2 + corr2)
    console.log(nom3 + num3 + corr3)
}

imprimir();
                        
</textarea>
</div>
            </div>
            <div class="card" id="dos" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 2</h1>
                <a href="../js/MailynFabian/Laboratorio2.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Durante la última modificación del programa con la lista de contactos, permitimos que el usuario agregue un nuevo contacto con 
                    los datos ingresados por el usuario mientras se ejecuta el programa. Vayamos un paso más allá: 
                    intente modificar el programa para que el usuario tenga la opción de elegir lo que quiere hacer 
                    con la lista. Podrán elegir entre:

                    Mostrando el primer contacto (primero)
                    Mostrar el último contacto (último)
                    Agregar un nuevo contacto (nuevo)
                    Al agregar un nuevo contacto, verifique si el usuario ha ingresado todos los 
                    datos necesarios. Si falta al menos uno de los tres valores (nombre, teléfono 
                    o correo electrónico), no agregue el contacto.</p>
                <br>
                    <div class="cuadrado">
<textarea cols="100" rows="30">
let contacts = [{
name: "Maxwell Wright",
phone: "(0191) 719 6495",
email: "Curabitur.egestas.nunc@nonummyac.co.uk"
}, {
name: "Raja Villarreal",
phone: "0866 398 2895",
email: "posuere.vulputate@sed.com"
}, {
name: "Helen Richards",
phone: "0800 1111",
email: "libero@convallis.edu"
}];
                      
let newContact = { name: "Maisie Haley", phone: "0913 531 3030", email: "risus.Quisque@urna.ca." }; 
contacts.push(newContact); 
/*console.log(contacts.length);*/ 
const num= contacts.length;
console.log(contacts[0].name);  
console.log(contacts[num].name);
</textarea>   
</div>
            </div>

            <div class="card" id="tres" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 3</h1>
                <a href="../js/MailynFabian/Laboratorio3.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Volvamos a nuestra lista de contactos. Después de algunos ajustes recientes (es decir, usar una matriz y objetos) en realidad está comenzando a verse como una lista. Sin embargo, sigue existiendo un problema bastante grave. Los datos cambiantes en la lista, como agregar un nuevo contacto, deben proporcionarse de inmediato en el código del programa. ¿Y si queremos dar al usuario la posibilidad de introducir los datos del contacto añadido mientras se ejecuta el programa? Modifique el programa para agregar, al final de la lista, no el contacto, que se da en el código, sino el que el usuario dará durante la ejecución del programa. Utilice el método prompt para hacer esto. Al final, muestra el primer y el último contacto de la lista.</p>
                <br>
                <div class="cuadrado">
<textarea cols="100" rows="30">
let contacts = [{
name: "Maxwell Wright",
phone: "(0191) 719 6495",
email: "Curabitur.egestas.nunc@nonummyac.co.uk"
}, {
name: "Raja Villarreal",
phone: "0866 398 2895",
email: "posuere.vulputate@sed.com"
}, {
name: "Helen Richards",
phone: "0800 1111",
email: "libero@convallis.edu"
}];
                            
// write your code here
                        
let names = window.prompt("Cual es tu nombre?");
names = names ? names : "Deleting Data";
let phone = prompt("Cual es tu numero telefonico?");
phone = phone ? phone : "Deleting Data";
let email = prompt("Cual es tu correo?");
let newContacts = {name:names, phone:phone, email:email}
let decision = window.confirm("Esta bien?");
contacts.push(newContacts);
console.log(decision);
let remove = confirm("Remover el registro?");
let message = remove ? "Deleting Data" : "Cancelled"
contacts.pop(newContacts);
                            
let last = contacts.length - 1;
                            
console.log(`${contacts[0].name} / ${contacts[0].phone} / ${contacts[0].email}`);
console.log(`${contacts[last].name} / ${contacts[last].phone} / ${contacts[last].email}`);
</textarea>
</div>
            </div>

            <div class="card" id="cuatro" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 4</h1>
                <a href="../js/MailynFabian/Laboratorio4.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Durante la última modificación del programa con la lista de contactos, permitimos que el usuario agregue un nuevo contacto con los datos ingresados por el usuario mientras se ejecuta el programa. Vayamos un paso más allá: intente modificar el programa para que el usuario tenga la opción de elegir lo que quiere hacer con la lista.</p>
                <br>
                <div class="cuadrado">
<textarea cols="100" rows="30">
let contacts = [{
name: "Maxwell Wright",
phone: "(0191) 719 6495",
email: "Curabitur.egestas.nunc@nonummyac. co.uk"
}, {
    name: "Raja Villarreal",
    phone: "0866 398 2895",
    email: "posuere.vulputate@sed.com"
}, {
    name: "Helen Richards",
    phone: "0800 1111",
    email: "libero@convallis.edu"
}];
                                           
let opcion = prompt("Elige opción: Mostrar primer contacto (primero), Mostrar último contacto (ultimo), Agregar un nuevo contacto (nuevo)");
                        
    switch (opcion) {
        case "primero":
            console.log(`${contacts[0].name} / ${contacts[0].phone} / ${contacts[0].email}`);
        break;
        case "ultimo":
            let last = contacts.length - 1;
             console.log(`${contacts[last].name} / ${contacts[last].phone} / ${contacts[last].email}`);
        break;
        case "nuevo":
            let nombre = prompt("Ingrese el nombre del nuevo contacto:");
            nombre = nombre ? nombre:"null"
            let phone = prompt("Ingrese el teléfono del nuevo contacto:");
            phone = phone ? phone:"null"
            let correo = prompt("Ingrese el correo del nuevo contacto:");
            correo = correo ? phone:"null"
                                
            if(nombre !== "null" && phone !== "null" && correo !== "null"){
                let newContacts = {name:nombre, phone:phone, email:correo}
                contacts.push(newContacts);
                break;
                }
            console.log("Opción inválida");
                                    
        break;
                            
            }
                        
    let lasta = contacts.length - 1;
    console.log(`${contacts[lasta].name} / ${contacts[lasta].phone} / ${contacts[lasta].email}`);
                    </textarea>
                </div>
            </div>

            <div class="card" id="cinco" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 5</h1>
                <a href="../js/MailynFabian/Laboratorio5.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Podemos mejorar un poco nuestro programa de lista de contactos usando bucles. Ahora puede intentar mostrar no solo el primer o el último contacto, sino todos los contactos de la lista, independientemente de su número.Además, intente encerrar todo el programa en un bucle para que se le pregunte repetidamente al usuario qué quiere hacer.</p>
                <br>
                <div class="cuadrado">
<textarea cols="100" rows="30">
let contacts = [{
name: "Maxwell Wright",
phone: "(0191) 719 6495",
email: "Curabitur.egestas.nunc@nonummyac.co.uk"
}, {
name: "Raja Villarreal",
phone: "0866 398 2895",
email: "posuere.vulputate@sed.com"
}, {
name: "Helen Richards",
phone: "0800 1111",
email: "libero@convallis.edu"
}];

let opcion = "";
while (opcion !== "salir") {
    opcion = prompt("que quieres hacer? (primero, ultimo, todo, new, salir)");
    
    switch (opcion) {
    case "primero":
        console.log(contacts[0]);
        break;
    case "ultimo":
        console.log(contacts[contacts.length - 1]);
        break;
    case "todo":
        for (let i = 0; i < contacts.length; i++) {
                console.log(`${contacts[i].name} / ${contacts[i].phone} / ${contacts[i].email}`);
            }
            win=true;
        break;
    case "nuevo":
        let newContact= {
        name: prompt("Inserte nombre:"),
        phone: prompt("Inserte numero:"),
        email: prompt("Inserte email:")
        };
        contacts.push(newContact);
        console.log("Nuevo contacto aniadido");
        break;
    case "salir":
        console.log("Saliendo del programa");
        break;
    default:
        console.log("Invalido. Intente de vuevo");
        break;
    }
}
</textarea>
</div>
            </div>

            <div class="card" id="seis" data-aos="fade-up"
            data-aos-duration="2000">
                <h1>LABORATORIO 6</h1>
                <a href="../js/MailynFabian/Laboratorio6.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Nuestro programa ha crecido bastante, lo que hace que sea un poco difícil de leer. Es especialmente visible en la instrucción switch, donde se incluye la mayor parte de la lógica. Intente organizar el código del programa mediante funciones. Defina y llame a tres funciones en los lugares apropiados:</p>
                <br>
                <div class="cuadrado">
<textarea cols="100" rows="30" >
let contacts = [{
    name: "Maxwell Wright",
    phone: "(0191) 719 6495",
    email: "Curabitur.egestas.nunc@nonummyac.co.uk"
}, {
    name: "Raja Villarreal",
    phone: "0866 398 2895",
    email: "posuere.vulputate@sed.com"
}, {
    name: "Helen Richards",
    phone: "0800 1111",
    email: "libero@convallis.edu"
}];

let showContact = function(contacts, index) {
    if (contacts instanceof Array && index >= 0 && index < contacts.length) {
    let contact = contacts[index];
    console.log(`${contact.name} / ${contact.phone} / ${contact.email}`);
    } else {
    console.log("Indice o contactos no validos");
    }
};

let showAllContacts = function(contacts) {
    if (contacts instanceof Array) {
    for (let contact of contacts) {
        console.log(`${contact.name} / ${contact.phone} / ${contact.email}`);
    }
    }
};

let addNewContact = function(contacts, name, phone, email) {
if (contacts instanceof Array && name && phone && email) {
    contacts.push({
    name: name,
    phone: phone,
    email: email
    });
    console.log("Nuevo contacto agregado correctamente");
} else {
    console.log("Contacto o datos de contacto invalidos");
}
};

showContact(contacts, 0); 
showAllContacts(contacts); 

addNewContact(contacts, "John Doe", "123-456-7890", "john.doe@example.com"); 

showAllContacts(contacts);
</textarea>
</div>
            </div>
            <div class="card" id="siete" data-aos="fade-up"
 data-aos-duration="2000">
                <h1>LABORATORIO 7</h1>
                <a href="../js/MailynFabian/Laboratorio7.js"><img src="/assets/images/marilynfabian2.png"></a>
                <br>
                <p>Usaremos las funciones para agregar un elemento más de funcionalidad. Los arrays tienen un método sort que nos permite ordenar sus elementos. A este método, pasamos una función que debe comparar dos elementos de la matriz y decidir cuál es más pequeño y cuál es más grande. Si el primer elemento es menor, la función devuelve un valor menor que cero, si son iguales devuelve cero, y si el primero es mayor, devuelve un valor mayor que cero. Por ejemplo, la matriz:</p>
                <br>
                <div class="cuadrado">
<textarea cols="100" rows="30">
let contacts = [
{
    name: "Maxwell Wright",
    phone: "(0191) 719 6495",
    email: "Curabitur.egestas.nunc@nonummyac.co.uk"
},
{
    name: "Raja Villarreal",
    phone: "0866 398 2895",
    email: "posuere.vulputate@sed.com"
},
{
    name: "Helen Richards",
    phone: "0800 1111",
    email: "libero@convallis.edu"
}
];

let showContact = function(contacts, i) {
    if (contacts instanceof Array && contacts[i]) {
        console.log(`${contacts[i].name} / ${contacts[i].phone} / ${contacts[i].email}`);
    }
}

let showAllContacts = function(contacts) {
    if (contacts instanceof Array) {
        for (contact of contacts) {
            console.log(`${contact.name} / ${contact.phone} / ${contact.email}`);
        }
    }
}
letaddNewContact = function (contacts, name, phone, email) {
    if (contacts instanceof Array && name && phone && email) {
        contacts.push({
            name: name,
            phone: phone,
            email: email
        });
    }
}
let sortContacts = function (contacts, sortField) {
    if (contacts instanceof Array && sortField) {
        contacts.sort(function (a, b) {
            if (a[sortField] > b[sortField]) {
                return 1;
            } else if (a[sortField] < b[sortField]) {
                return -1;
            } else {
                return 0;
            }
        });
    }
}
let runProgram = function () {
    let option = prompt("Introducir opcion (1. Mostrar un contacto, 2. Mostrar todos los contactos, 3. Agregar nuevo contacto, 4. Ordenar contactos):");

    switch (option) {
        case "1":
            let index = parseInt(prompt("Introduce el indice del contacto que desea mostrar:"));
            showContact(contacts, index);
            break;
        case "2":
            showAllContacts(contacts);
            break;
        case "3":
            let name = prompt("Ingrese nombre del nuevo contacto:");
            let phone = prompt("Ingrese el número de teléfono del nuevo contacto:");
            let email = prompt("Ingrese el email del nuevo contacto:");
            addNewContact(contacts, name, phone, email);
            break;
        case "4":
            let sortOption = prompt("Introduzca la opcion de ordenacion (1. Ordenar por nombre, 2. Ordenar por numero de telefono, 3. Ordenar por email):");
            let sortField;

        switch (sortOption) {
        case "1":
            sortField = "name";
            break;
        case "2":
            sortField = "phone";
            break;
        case "3":
            sortField = "email";
            break;
        default:
            console.log("Ivalidar opcion");
            break;
            }

            sortContacts(contacts, sortField);
            break;
        default:
            console.log("Invalidar opcion");
            break;
    }
};   

    runProgram();
</textarea>
</div>
            </div>
        </div>   
    </section>    
        <section class="contenedor" id="herramientas">
            <h2 class="subtitulo">Herramientas</h2>
            <section class="experts" data-aos="zoom-in-down">
                <div class="cont-experts" data-aos="zoom-out-right" data-aos-duration="2011">
                    <iframe width="300px" height="210px" style="border-radius: 15%;" src="https://www.youtube.com/embed/Eh-s-n_6zNQ?si=O-ocDPlJ883ZrGla" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3 class="n-expert">Curso completo de JavaScript</h3>
                </div>
                <div class="cont-experts" data-aos="fade-up" data-aos-duration="2010" >
                    <a href="https://skillsforall.com/launch?id=062c7386-e936-452f-a584-65e0a3355ced&tab=curriculum&view=fc64a6c2-a1c3-5eff-8dcf-9d3a420818b8"><img src="/assets/images/marilynfabian4.jpg" alt="" width="300px" height="210px" style="border-radius: 15%;" ></a>
                    <h3 class="n-expert">Aprende JavaScript con CISCO </h3>
                </div>
                <div class="cont-experts" data-aos="zoom-out-left" data-aos-duration="2020">
                    <img src="/assets/images/marilynfabiangif.gif" alt="" width="300px" height="210px" style="border-radius: 15%;">
                    <h3 class="n-expert">Animo!</h3>
                </div>
            </section>
        </section>
</main>
<footer id="contenedor"  data-aos="fade-up"
data-aos-anchor-placement="top-bottom" >
    <div class="contenedor footer-content"  data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="contact-us" >
            <h2 class="brand">Jenny Fabian</h2>
            <p>Estudiante</p>
        </div>
        <hr>
        <div class="social-media" id="contacto">
                <a href="https://www.facebook.com/"><img src="/assets/images/marilynfabianFace.ico" alt="" class="icon"></a>
                <a href="https://web.whatsapp.com/"><img src="/assets/images/marilynfabianWhat.ico" alt="" class="icon"></a>
                <a href="https://www.youtube.com/watch?v=y2bVIBwpCTA&list=RDMM&start_radio=1&rv=vKPDErkU77A"><img src="/assets/images/marilynfabianYou.ico" alt="" class="icon"> </a>
        </div>
    </div>
    <div class="line">
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </div>
</footer>
<script src="home.component.spec.ts"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
